node_modules
# Keep environment variables out of version control
.env
src/config/.env
/src/generated/prisma
backend_architecture_report.md
TalentForge-backend.postman_collection.json
TalentForge_Backend_Swagger_Documentation.html
TalentForge_Backend_API_Doc.html
TalentForge_Backend_API_Doc.md
TalentForge_Backend_API_Doc.pdf
docs